* {
    box-sizing: border-box;
}
body,html{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: ariial;

}
h1{
    font-size: 70px;
    text-transform: uppercase;
    margin: 0;
}
.banner-img{
    background-image: url(E7NT81XXEAIcA74.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
   
}
.banner-text{ 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 5;
    width: 45%;
    padding: 40px 0;
    text-align: center;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
    background-color: rgba(0,0,0,0.3);
    color: #fff;
    font-weight: bold;
    border: 10px inset #9a6634;
    

 }
 .banner-text p{
    padding: 0 8%;
    font-family: merienda;
 }
 a{
    display: inline-block;
    padding: 10px ;
    border: 2px solid #9a6634;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    margin-top: 15px;
 }

  
  
  @media screen and (max-width:375px){
    .banner-text p{font-size: 20px;}
    .banner-text h1{font-size: 15px;}
  }

  
  @media screen and (min-width:390px){
    .banner-text p{font-size: 10px;}
    .banner-text h1{font-size: 15px;}
  }

  @media screen and (min-width:414px){
    .banner-text p{font-size: 15px;}
    .banner-text h1{font-size: 20px;}
  }

  @media screen and (min-width:375px){
    .banner-text p{font-size: 15px;}
    .banner-text h1{font-size: 20px;}
  }

  @media screen and (min-width:834px){
    .banner-text p{font-size: 20px;}
    .banner-text h1{font-size: 25px;}
  }

  @media screen and (min-width:384px){
    .banner-text p{font-size: 20px;}
    .banner-text h1{font-size: 25px;}
  }

  @media screen and (min-width:360px){
    .banner-text p{font-size: 10px;}
    .banner-text h1{font-size: 15px;}
    
  }

  @media screen and (min-width:810px){
    .banner-text p{font-size: 10px;}
    .banner-text h1{font-size: 15px;}
  }

  @media screen and (min-width:768px){
    .banner-text p{font-size: 15px;}
    .banner-text h1{font-size: 20px;}
  }

  @media screen and (max-width:800px) and ( min-width:667px){
    .banner-text p{font-size: 15px;}
    .banner-text h1{font-size: 25px;}
}